<div class="col-md-4">
    <div class="card m-2">
      <h5 class="card-header">Başlık</h5>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat distinctio aliquam
          unde aliquid sed deserunt quisquam iusto ipsa voluptatum aperiam ullam, error ipsum reprehenderit repellat ab
          saepe sint quod.</p>
        <a href="#" class="btn btn-info">Devamı --></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-2">
      <h5 class="card-header">Başlık</h5>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat distinctio aliquam
          unde aliquid sed deserunt quisquam iusto ipsa voluptatum aperiam ullam, error ipsum reprehenderit repellat ab
          saepe sint quod.</p>
        <a href="#" class="btn btn-info">Devamı --></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-2">
      <h5 class="card-header">Başlık</h5>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat distinctio aliquam
          unde aliquid sed deserunt quisquam iusto ipsa voluptatum aperiam ullam, error ipsum reprehenderit repellat ab
          saepe sint quod.</p>
        <a href="#" class="btn btn-info">Devamı --></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card m-2">
      <h5 class="card-header">Başlık</h5>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat distinctio aliquam
          unde aliquid sed deserunt quisquam iusto ipsa voluptatum aperiam ullam, error ipsum reprehenderit repellat ab
          saepe sint quod.</p>
        <a href="#" class="btn btn-info">Devamı --></a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card m-2">
      <h5 class="card-header">Başlık</h5>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat distinctio aliquam
          unde aliquid sed deserunt quisquam iusto ipsa voluptatum aperiam ullam, error ipsum reprehenderit repellat ab
          saepe sint quod.</p>
        <a href="#" class="btn btn-info">Devamı --></a>
      </div>
    </div>
  </div>